<div id="<%= dom_id shop %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= shop.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= shop.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= shop.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rating:</strong>
    <%= shop.rating %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Hot rank:</strong>
    <%= shop.hot_rank %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Img:</strong>
    <%= shop.img %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= shop.category %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Update at:</strong>
    <%= shop.update_at %>
  </p>

</div>
