<header>
  <nav class='header_content navbar navbar-expand-lg navigation navbar-light bg-light'>
    <%= link_to '/', class: 'navbar-brand' do %>
      <%= image_tag 'logo.png' %>
    <% end %>
    <button class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ms-auto main-nav align-items-center'>
        <li class='nav-item dropdown dropdown-slide'>
          <%= link_to '掲示板', '#' , class: 'nav-link dropdown-toggle',data: { bs_toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' }, id: 'header-board-menu' %>
          <div class='dropdown-menu dropdown-menu-end'>
          </div>
        </li>
        <li class='nav-item'>
        </li>
        <li class='nav-item dropdown dropdown-slide'>
          <!-- link_toを使う形に修正してくださいdata属性、area属性の書き方は次の通りです。-->
          <!-- data: { bs_toggle: 'dropdown' }, aria: { haspopup: 'true' }, aria: { expanded: 'false' } -->
          <div class='dropdown-menu dropdown-menu-end'>
            <div class='dropdown-divider'></div>
            <%= link_to 'プロフィール', profile_path, class: 'dropdown-item' %>
            <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete }, class: 'dropdown-item' %>
            <%= link_to 'カレーマップ', shops_path %>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>