<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "カレー検索アプリ" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
    <div class="header_content">
    <p><%= link_to 'カレーマップ', shops_path %><p>
      <div>

      </div>
    </div>

    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main class="container mx-auto mt-28 px-5 flex">

  <div class="container-fluid">
    <div class="contener">
      <%= image_tag "top_img1.png" %>
    </div>

    <%= yield %>
  </div>

  <div class="footer_content">
    <div class="footer_content_item">
      <div><a href="#">お問い合わせ</a></div>
      <div><a href="#">利用規約</a></div>
      <div><a href="#">プライバシーポリシー</a></div>
    </div>
  </div>

  </body>
</html>
